<div class="Page_Wrapper">
        <header class="header" aria-describedby="description" tabindex="1">
            <a routerLink="" routerLinkActive="active"><fa-icon [icon]="faArrowLeft" class="bob"></fa-icon>Math Mind</a>
        </header>
        <div class="Puzzle_Container" tabindex="-1">
                <div class="Results" tabindex="-1">
                <div class="Correct_Results" tabindex="4" aria-describedby="correct" aria-roledescription="correct answer counter"><fa-icon [icon]="faCheck" class="checkmark"></fa-icon> {{rightBox}} </div>
                <div class="Incorrect_Results" tabindex="4" aria-describedby="wrong" aria-roledescription="incorrect answer counter"><fa-icon [icon]="faTimes" class="wrong"></fa-icon> {{wrongBox}} </div>
            </div>
            <Div class="Puzzle">
            <h1 class="puzzle_statement" tabindex="2" aria-describedby="question"> {{question}} __ {{question2}} = __?</h1>
                <div class="Puzzle_Answers">
                    <div class="Answers" *ngFor="let symbol of shuffle(symbols); let i = index">
                        <span>{{i+1}})  </span><a role="button" tabindex="3" id="answer" (click)="myFunction($event)">{{symbol}}</a>
                    </div>
                    
                </div>
            </Div>
            
        </div>
    </div>

<div id="description">
    Welcome to the comparison page, see how many of the questions below you can answer correctly
</div>
<div id="correct">
    You have answered {{rightBox}} questions correctly
</div>
<div id="wrong">
    You have answered {{wrongBox}} questions incorrectly
</div>
<div id="question">
    Question: {{question}} + {{question2}} = blank
</div>
