<div class="Page_Wrapper">
        <header class="header">
            <a routerLink="" routerLinkActive="active">Kids Math</a>
        </header>
        <div class="Puzzle_Container">
                <div class="Results">
                <div class="Correct_Results"> {{rightBox}} </div>
                <div class="Incorrect_Results"> {{wrongBox}} </div>
            </div>
            <Div class="Puzzle">
            <h1 class="puzzle_statement"> {{question}} __ {{question2}} = __?</h1>
                <div class="Puzzle_Answers">
                    <div class="Answers" *ngFor="let symbol of shuffle(symbols)">
                    <span id="answer" (click)="myFunction($event)">{{symbol}}</span>
                    </div>
                    
                </div>
            </Div>
            
        </div>
    </div>
