.Page_Wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 750px;
}

.Puzzle_Container {
    border: 1px solid black;
    padding-top: 15px;
    padding-right: 10px;
    margin-top: 20px;
}

.Results {
    border: 1px solid black;
    height: 20px;
    margin-left: 80%;
    padding: 10px;
}

.Correct_Results {
    border: 1px solid black;
    height: 10px;
    padding: 5px;
    width: 80px;
    float: left;
}

.Incorrect_Results {
    border: 1px solid black;
    height: 10px;
    padding: 5px;
    width: 80px;
    float: left;
    margin-left: 30px;
}

.Puzzle {
    border: 1px solid black;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: darkolivegreen;
}

.header {
    text-align: center;
    margin-top: 30px;
}

.header a {
    text-decoration: none;
}

.puzzle_statement {
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.Answers {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.Puzzle_Answers .Answers {
    width: 80%;
    height: 40px;
    cursor: pointer;
    font-size: 2rem;
    color: whitesmoke;
    outline: none;
    margin: auto;
    margin-top: 50px;
}
.Puzzle_Answers #answer:hover {
    border: 1px solid yellow;
    padding: 10px;
}

