.app {
    display: flex;
    width: 100%;
    margin: 0;
    height: 80vh;
    margin-top: 30px;
}

.Categories_Wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 10px;
}

.header a {
    text-decoration: none;
    font-size: 4.5rem;
    color: whitesmoke;
}

.Categories {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.Categories .wood {    
    flex: 1 1 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba($color: #602525, $alpha: 1.0);
    padding: 10px 50px;
    text-align: center; 
    margin-top: 40px;
}

.Categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Categories .wood a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
}

#description {
    display: none;
}
