<div class="app">
    <div class="Categories_Wrapper">
      <header class="header" aria-describedby="description">
        <a routerLink="" routerLinkActive="active">Kids Math</a>
      </header>
      <div class="Categories">
      <ul>
        <li class="wood">
          <a routerLink="/addition" routerLinkActive="active">Addition</a>
        </li>
        <li class="wood">
          <a routerLink="/subtraction" routerLinkActive="active">Subtraction</a>
        </li>
        <li class="wood">
          <a routerLink="/multiply" routerLinkActive="active">Multiply</a>
        </li>
        <li class="wood">
          <a routerLink="/comparison" routerLinkActive="active">Comparison</a>
        </li>
      </ul>
    </div>
    </div>
  </div>

  <div id="description">
    Home Page for kids Math game, enjoy testing your addition, subtraction, multiplication, and comparison skills
  </div>
