<div class="app">
    <div class="Categories_Wrapper">
      <header class="header">
        <a routerLink="" routerLinkActive="active">Kids Math</a>
      </header>
      <ul class="Categories">
        <li class="wood">
          <a routerLink="/addition" routerLinkActive="active">Addition</a>
        </li>
        <li class="wood">
          <a routerLink="/subtraction" routerLinkActive="active">Subtraction</a>
        </li>
        <li class="wood">
          <a routerLink="/multiply" routerLinkActive="active">Multiply</a>
        </li>
        <li class="wood">
          <a routerLink="/comparison" routerLinkActive="active">Comparison</a>
        </li>
      </ul>
    </div>
  </div>
