.app {
    display: flex;
    width: 100%;
    margin: 0;
    height: 80vh;
    margin-top: 30px;
}

.Categories_Wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 10px;
}

.header a {
    text-decoration: none;
    font-size: 4.5rem;
    color: whitesmoke;
    font-family: made-up;
}

.Categories {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.Categories .wood {    
    flex: 1 1 auto;
    border-radius: 5px;
    padding: 10px 0px;
    text-align: center; 
    margin-top: 40px;
    background-image: url("src/assets/images/wood-pattern.png");
    background-color: #0a0000;;
}

.Categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Categories .wood a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    padding: 10px 50px;
}

@media only screen and (max-width: 870px) {
    .header a {
        font-size: 35px; 
    }

} 


@media only screen and (max-width: 767px) {
    .header a {
        font-size: 30px; 
    }

}

#description {
    display: none;
}


