<div class="Page_Wrapper">
        <header class="header">
            <a routerLink="" routerLinkActive="active">Kids Math</a>
        </header>
        <div class="Puzzle_Container">
            <div class="Results">
                    <div class="Correct_Results"></div>
                    <div class="Incorrect_Results"></div>
            </div>
            <Div class="Puzzle">
                <h1 class="puzzle_statement"></h1>
                <div class="Puzzle_Answers">
                    <div class="Answers">
                            <span></span>
                    </div>
                    <div class="Answers">
                            <span></span>
                    </div>
                    <div class="Answers">
                            <span></span>
                    </div>
                    <div class="Answers">
                            <span></span>
                    </div>
                </div>
            </Div>
            
        </div>
    </div>
